.fullscreen
  %canvas#terminal{:height => "592", :style => "width:100%", :width => "900"}
%img.frame0{:height => "0", :src => "images/frame-0.png", :width => "0"}/
%img.frame1{:height => "0", :src => "images/frame-1.png", :width => "0"}/
%img.frame2{:height => "0", :src => "images/frame-2.png", :width => "0"}/
%img.frame3{:height => "0", :src => "images/frame-3.png", :width => "0"}/
