.content
  .logo
    %a{:href => "index.html"}
      %img{:src => "images/htop-logo.png"}/
  %table{:style => "margin:0; padding:0; width: 100%;"}
    %tr{:style => "margin:0; padding:0;"}
      %td{:style => "margin:0; padding:0;"}
        .menu
          %ul.menu
            %li.menuli
              %a.menuitem{:href => "downloads.html"} Download
            %li.menuli
              %a.menuitem{:href => "screenshots.html"} Screenshots
            %li.menuli
              %a.menuitem{:href => "sightings.html"} Sightings
            %li.menuli
              %a.menuitem{:href => "mailinglist.html"} List
            %li.menuli
              %a.menuitem{:href => "faq.html"} FAQ
            %li.menuli
              %a.menuitem{:href => "https://github.com/htop-dev/htop/issues"} Bug tracker
